.content_header{
	width: 100%;
	background-color: white;
	text-align: left;
	float: left;
}
.content_header span{
	font-size: 15px;
	font-weight: bold;
	width:80%;
	display:block;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10%;
}
.bottom_line{
	border-bottom: 1px solid silver;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.book_content{
	width: 80%;
	height:300px;
	margin-left:auto;
	margin-right:auto;
}
.book_content .image{
	width: 30%;
	height:100%;
	float: left;
}
.book_content .image img{
	width: 70%;
	height:70%;
	margin-left: 15%;
	margin-top: 10%;
}
.book_right{
	float: left;
	margin-left: 10px;
	width:65%;
}
.book_right .author,.publisher{
	font-size: 14px;
	font-family: serif;
	margin-top: 5px;
	color: #404040;
}
.book_right ul{
	list-style: none;
	line-height: 18px;
	margin-top: 20px;
}
.book_right ul li{
	width:50%;
	float: left;
}
.book_content .price{
	width:65%;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.book_content .buy img{
	margin-top: 10px;
}