*{margin:0px;padding:0px;font-size: 12px;text-decoration: none;}
body{
	color: #404040;
	width: 100%;
	background-color: #769b72;
}
a:hover{
	background: orange;
	color: white;
}
.containner{
	font-family:ו,Arial,Helvetica,sans-serif;
	text-align: center;
	width:70%;
	margin-right:auto; 
    margin-left:auto;
    margin-top: 50px;
}