.header{
	width: 100%;
    background-color: white;
}
.top{
	height:50px;
	width: 100%;
    margin-top: 20px;
    background-color: #E2E2E2;
    border-bottom: 1px #B9B7B7 dotted;
}
.weclome_left {
	float: left;
	height: 25px;
	margin-top:25px;
	margin-left: 40px;
}
.weclome_left span{
	line-height: 18px;
}
.weclome_left  a{ 
	padding: 10px;
}

.weclome_right {
	float: right;
	height: 25px;
	padding-left:20px;
	margin-top:25px;
	margin-right: 50px;
	background-image: url("../images/CART_BG1.gif");
	background-repeat: no-repeat; 
	background-positon: 100%, 100%;
}
.weclome_right span{
	line-height: 18px;
}
.weclome_right a{ 
	padding: 10px;
}

.logo{
	height: 60px;
	width: 100%;
	background-color: #d8e4c6;
	border-bottom: 1px silver dotted;
}
.logo a:hover{
	background-color: #d8e4c6;
}
.logo div{
	float: left;
	width: 200px;
	margin-top: 10px;
	margin-left: 20px;
	height: 80%;
}
.logo div img{
	width: 200px;
	height: 100%;
	border: none;
}
.advertisement{
	margin-top: 20px;
	width: 100%;
	height:80px;
	background-image: url('../images/book_banner_081203.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
}